

/* html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

* {
    font-family:Roboto Mono;
}
header {
    width:100%;
}

.navigation {
    width:80%;
    margin:5% 10% 5% 10%;
}

button {
    background-color: red;
    border-radius: 10px;
    color:white;
    margin-left:13%;
    border: 0px;
    padding: 5px 30px 5px 30px;
}

.plan {
    background-color:#FF764E;
}

.learn {
    background-color:#5ED3EB ;
}

.get {
    background-color:#FFCD69 ;
}

.opening {
    width:80%;
    margin-left:10%;
}

div.image-container {
    width:12em;
    float:left;
}

.image-container img {
    width:12em;
    height:12em;
    border-radius: 50%;
}

.park-guide {
    width:80%;
    margin-left:25%;
    margin-bottom:12%;
    margin-top:8%;
    text-align:center;
}

.park-guide h1 {
    font-family:Chelsea Market;
}

.introduction {
    width:90%;
    padding: .5% 2.5% .5% 2.5%;
    margin: 2.5%;
    background-color:#DDB9A3;
    color:white;
    text-align:center;
}

.reminders {
    width:20%;
    margin:auto;
    text-align:center;
    padding-bottom:5%;
}

.reminders img {
    width: 5em;
    height: 5em;
    margin-left: 14%;
    margin-right: 14%
}

.banner {
    background-image: url('assets/footer_img.jpg');
    background-size: cover;
    width: 99%;
    height: 15em;
}

.reminders span {
    font-weight:700;
}

footer {
    width:100%;
}